<%# O que estiver dentro do content_for :header vai ser jogado pro yield no layouts/application %>
<% content_for :header do %>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Cadastrar novo curso
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', product: @product %>
</div>

